* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(235, 225, 225);
}

.container {
    width: 500px;
    height: 50%;
    border: 1px solid rgb(235, 225, 225);
    margin: 50px auto;
    padding: 10px;
    align-items: center;
}

.main-content {
    width: 285px;
    height: 340px;
    margin: 10px auto;
    background-color: #fff;
    border: 2px solid #fff;
    padding: 50px 60px;
    box-shadow: 1px 1px 1px 1px rgb(230, 225, 225);
}

.logo {
    border: 0px solid #000;
    margin-bottom: 10px;
    text-align: center;
}

.logo img {
    height: 70px;
    width: 180px;
}

.first {
    width: 90%;
    margin-bottom: 15px;
    padding: 9px 12px;
    border: 1px solid rgb(230, 225, 225);
    box-sizing: border-box;
    border-radius: 3px;
    font-weight: bold;
    font-size: 15px;
}

.second {
    width: 90%;
    background-color: rgb(58, 174, 241);
    border: 1px solid rgb(58, 179, 241);
    padding: 8px 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
    font-size: 15px;
    margin: 10px;
}

.last-line {
    margin: 10px auto;
    text-align: center;
    font-size: 18px;
    border: 1px solid white;
    background: white;
    width: 300px;
    height: 20px;
    margin: 10px auto;
    background-color: #fff;
    border: 2px solid #fff;
    padding: 40px 50px;
    box-shadow: 1px 1px 1px 1px rgb(230, 225, 225);
    align-items: center;
}

.footer {
    text-align: center;
    font-size: 18px;
    margin: 10px;
}

.flex {
    display: inline-flex;
    margin: 10px;
    padding: 10px;
    align-items: center;
}

#image {
    width: 180px;
    height: 80px;
    margin: 10px;
}

#image-2 {
    margin: 10px;
    width: 180px;
    height: 80px;
}

.o {
    margin: 6px;
    border: 1px solid white;
    padding: 7px;
    align-items: center;
    text-align: center;
    font-size: 18px;
}

.pass {
    margin: 6px;
    border: 1px solid white;
    padding: 7px;
    align-items: center;
    text-align: center;
    font-size: 18px;
}

.fb {
    margin: 2px;
    border: 1px solid white;
    padding: 7px;
    align-items: center;
    text-align: center;
    font-size: 18px;
}